.Container {
    display: flex;
    height: 125px;
    background-color: #1C1814;

    justify-content: center;
    align-items: center;

}

.Logo {
    width: 72px;
    height: 60px;
}

.Buttons {
    display: flex;
    gap: 48px;

    justify-content: center;

    width: -webkit-fill-available;
}