* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100vw;
    height: 100vh;

    padding: 100px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.page{
    position: absolute;
}

.page-enter-active {
    animation: fade-in 1s forwards;
}

.page-exit-active {
    animation: fade-out 1s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(150px);
    }
}