.clock {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 20px auto 0 auto;
    background: url(./img/clock.png);
    background-size: 100% 100%;
    list-style: none;
}

.sec, .min, .hour {
    position: absolute;

    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.sec {
    z-index: 3;

    width: 6px;
    height: 570px;
    top: 15px;
    left: 318px;

    transform: rotate(90deg);

}
.sec div {
    width: 100%;
    height: 50%;
    background: red;
}
