.todo {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 10px;
}

.todo-exit-active {
    animation: fade-out 500ms forwards;
}

.todo-enter-active {
    animation: fade-in 500ms forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(150px);
    }
}