.Container {
  padding: 20px 36px;
  width: max-content;
  background-color: #C99E71;

  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  cursor: pointer;
  user-select: none;
}